<!DOCTYPE html>
<html>
<head>
<title>Add accident</title>
<style type="text/css">

    </style>
</head>
<body>
  <form action="#" th:action="@{/webapp/save}" th:object="${roadAccident}" method="post">
    	<p>longitude: <input type="text" th:field="*{longitude}" /></p>
        <p>latitude: <input type="text" th:field="*{latitude}" /></p>
        <p>accidentSeverity: <input type="text" th:field="*{accidentSeverity}" /></p>
        <p>numberOfVehicles: <input type="text" th:field="*{numberOfVehicles}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>